[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
pdoc = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
pytest = "*"
pytest-cov = "*"
rope = "*"
tox = "*"

[requires]
python_version = "3.7"
